<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.minmall.mappers.OrderMapper">

	<!-- 주문코드 시퀀스 가져오기 -->
	<select id="readOrderCode" resultType="int">
		select seq_ord_code.nextval from dual
	</select>
	
	<!-- 주문목록 -->
	<select id="orderList" parameterType="string" resultType="OrderListVO">
		select p.pro_img, p.pro_name, d.ord_code, d.pro_num, d.ord_amount, d.ord_price, o.ord_regdate, o.ord_delivery
		from orddetail_tbl d
		inner join order_tbl o
			on d.ord_code = o.ord_code
		inner join product_tbl p
			on d.pro_num = p.pro_num
		where o.mbs_id = #{mbs_id}
		order by d.ord_code desc, d.pro_num desc
	</select>

	<!-- 주문내역 추가 -->
	<insert id="addOrderDetail" parameterType="OrderDetailVO">
		insert into orddetail_tbl(ord_code, pro_num, ord_amount, ord_price)
		values(#{ord_code}, #{pro_num}, #{ord_amount}, #{ord_price})
	</insert>
	
	<!-- 주문정보 추가 -->
	<insert id="addOrder" parameterType="OrderVO">
		insert into order_tbl(ord_code, mbs_id, ord_name, 
			ord_zipcode, ord_addr, ord_deaddr, ord_phone, ord_totalprice, ord_regdate)
		values(#{ord_code}, #{mbs_id}, #{ord_name}, 
			#{ord_zipcode}, #{ord_addr}, #{ord_deaddr}, #{ord_phone}, #{ord_totalprice}, sysdate)
	</insert>
	
	<!-- 주문 상세 정보 -->
	<select id="readOrder" parameterType="int" resultType="OrderReadDEtailVO">
		select d.ord_amount, d.pro_num, d.ord_price,
		p.pro_name, p.pro_img, p.pro_price
		from orddetail_tbl d
		inner join product_tbl p
			on d.pro_num = p.pro_num
		where d.ord_code = #{ord_code}
	</select>
	
	<!-- 주문자 정보 -->
	<select id="getOrderMbs" parameterType="int" resultType="OrderVO">
		select ord_code, mbs_id, ord_name, ord_zipcode, ord_addr, ord_deaddr, ord_phone, ord_totalprice, ord_regdate
		from order_tbl
		where ord_code = #{ord_code}
	</select>	
	
</mapper>